<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css"></link>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
<form method="get" data-ajax="false">
    <input type="text" name="limit" placeholder="Limit" />
    <input type="text" name="offset" placeholder="Offset" />
    <input type="submit" value="Submit" />
</form>
<h1>Drive Requests</h1>
{% for by_created_day in drive_requests | groupby('created_day') | sort(reverse=True) %}
<div data-role="collapsible">
    <h3>{{ by_created_day.grouper }}</h3>
    {% for drive_request in by_created_day.list %}
    <div data-role="collapsible">
        <h3>{{ drive_request.driver.user.name }} took {{ drive_request.passenger.user.name }} from {{ drive_request.passenger.origin }} to {{ drive_request.passenger.destination }}</h3>
        <div>
            <p><span><strong>Driver name:</strong>
                <span><img src="{{ drive_request.driver.user.avatar }}" width="24" height="24" /> 
                <span>{{ drive_request.driver.user.first_name }}</span> <span>{{ drive_request.driver.user.last_name }}</span></p>
            <p><span><strong>Passenger name:</strong>
                <span><img src="{{ drive_request.passenger.user.avatar }}" width="24" height="24" /> 
                <span>{{ drive_request.passenger.user.first_name }}</span> <span>{{ drive_request.passenger.user.last_name }}</span></p>
            <p><span><strong>Origin:</strong> <span>{{ drive_request.passenger.origin }}</span></p>
            <p><span><strong>Destination:</strong> <span>{{ drive_request.passenger.destination }}</span></p>
            <p><span><strong>Seats:</strong> <span>{{ drive_request.passenger.seats }}</span></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</body>
</html>
