<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css"></link>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
<form method="get" data-ajax="false">
    <input type="text" name="limit" placeholder="Limit" />
    <input type="text" name="offset" placeholder="Offset" />
    <input type="submit" value="Submit" />
</form>
<h1>Destinations ({{ destinations | length }})</h1>
{% for destination in destinations %}
<div data-role="collapsible">
    <h3></span>({{ destination.popularity }}) {{ destination.name }}</h3>
</div>
{% endfor %}
</body>
</html>
