<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css"></link>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
<form method="get" data-ajax="false">
    <input type="text" name="limit" placeholder="Limit" />
    <input type="text" name="offset" placeholder="Offset" />
    <input type="submit" value="Submit" />
</form>
<h1>Drivers ({{ drivers | length }})</h1>
{% for driver in drivers %}
<div data-role="collapsible">
    <h3>{{ driver.user.name }} ({{ driver.created_day}}) - {{ driver.user.id }}</h3>
    <div>
        <p><span>{{ driver.car_make }}</span></p>
        <p><span>{{ driver.car_model }}</span></p>
        <p><span>{{ driver.car_color }}</span></p>
        <p><span>{{ driver.license_plate }}</span></p>
        <p><span>{{ driver.telephone }}</span></p>
    </div>
</div>
{% endfor %}
</body>
</html>
