<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css"></link>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
<form method="get" data-ajax="false">
    <input type="text" name="limit" placeholder="Limit" />
    <input type="text" name="offset" placeholder="Offset" />
    <input type="submit" value="Submit" />
</form>
<h1>Users ({{ users | length }})</h1>
{% for user in users %}
<div data-role="collapsible">
    <h3><span><img src="{{ user.user.avatar }}" width="24" height="24" /> </span>{{ user.user.name }}</h3>
    <div>
        <p><span><strong>Id:</strong></span> <span>{{ user.user.id }}</span></p>
        <p><span><strong>ACS id:</strong></span> <span>{{ user.user.acs_id }}</span></p>
        <p><span><strong>Facebook id:</strong></span> <span>{{ user.user.facebook_id }}</span></p>
        <p><span><strong>Avatar:</strong></span> <span>{{ user.user.avatar }}</span></p>
        <p><span><strong>Email:</strong></span> <span>{{ user.user.email }}</span></p>
        <p><span><strong>Locale:</strong></span> <span>{{ user.user.locale }}</span></p>
        <p><span><strong>Created:</strong></span> <span>{{ user.user.created_day }}</span></p>
        <p><span><strong>Last active:</strong></span> <span>{{ user.last_active }}</span></p>
        <a href="/traces?user_id={{ user.user.id }}" data-ajax="false">Traces</a>
    </div>
</div>
{% endfor %}
</body>
</html>
