<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css"></link>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
<h1>Versions</h1>
{% for group in groups %}
<div data-role="collapsible">
    <h3>{{ group.app_version }} {{ group.users | length }}</h3>
    {% for user in group.users %}
    <h4>{{ user.name }}</h4>
    {% endfor %}
</div>
{% endfor %}
</body>
</html>
